<div class="wichtiges-container">
  <h1 class="castilla">wichtiges</h1>

  <section class="section">
    <h2 class="didot">FLÜGE</h2>
    <p class="item">2.11. | 12:10 München | 15:00 Madrid (T4) | iberia<br>
      5.11. | 20:05 Madrid (T4) | 22:40 München | iberia</p>
  </section>

  <section class="section">
    <h2 class="menu-items">NUMMERN</h2>
    <ul class="menu-items">
      <li class="item">Anna +49 179 4199893</li>
      <li class="item">Laura: +49 176 55295038 </li>
      <li class="item">Thessi: +49 160 8833761 </li>
    </ul>
  </section>

  <section class="section">
    <h2>METRO PLAN</h2>
    <a href="https://upload.wikimedia.org/wikipedia/commons/c/c1/Ma
drid_Metro_Map.svg">Metro_Map.svg</a>
  </section>

  <section class="section">
    <h2>Always</h2>
    <p class="item">Spaß | Liebe | Lachen | Geniessen | leerer Bauch</p>
  </section>
</div>
