<div class="unterkunft-container">
  <h1 class="castilla">unterkunft</h1>

  <section class="section">
    <h2>Calle Mayor 12</h2>
    <p class="item">20 Calle de Silva<br>
    Madrid</p>
  </section>

  <section class="section">
    <p>Gebucht über airbnb.com<br>
      Bestätigungsnummer: HMDA59423<br>
      Gastgeber: B Alicia & Dan<br>
      Check in: 15-20<br>
      Check out: bis 11</p>
  </section>

  <section class="section">
    <p class="item">Nächste Metro:</p>
    <ul class="menu-items">
      <li class="item">2 (rot) Sol</li>
      <li class="item">5 (grün) Operta</li>
    </ul>
  </section>
</div>
