<div class="anreise-container">
  <h1 class="castilla">anreise</h1>

  <section class="section">
    <h2 class="menu-items">FLUG</h2>
    <p class="item">2.11 | 12:10 München | 15:00 Madrid (T1) | Iberia</p>
  </section>

  <section class="section">
    <h2 class="menu-items">METRO</h2>
    <ul class="menu-items">
      <li class="item">8 (rosa) Richtung Nuevos ministerios: Aeropuerto T1-4 bis Colombia</li>
      <li class="item">9 (lila) in Richtung arganda de Rey  von colombia bis principe de vergara </li>
      <li class="item">2 (rot) Richtung cuatro Caminos: von principe de vergara bis Sol</li>
      <li class="item">Zu Fuß: 2 Minuten von Sol bis Calle mayor 12</li>
    </ul>
  </section>

  <section class="section">
    <h2 class="menu-items">TICKETS</h2>
    <ul class="menu-items">
      <li class="item">1x rote Metrokarte für euch 2 zusammen</li>
      <li class="item">am Schalter aufladen: 10 Fahrten und 3x Flughafenzuschlag</li>
      <li class="item">Karte dann jeweils am Schalter dem nächsten geben</li>
    </ul>
  </section>
</div>
